.bg-suns-color {
    background-color: #487e95;
}

.flex-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-font {
    font-weight: 700;
    color: black !important;
}


/*.recipe {
    margin: 5em auto;
    padding: 5em;
}

.recipe-img {
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("assets/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

.ca-cotrol-buttons {
    height: 30px;
    width: 30px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
    position: sticky;
}

.carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("img/next.png");
    margin-right: -20%;
    margin-top: 20%;
    position: sticky;
}

.carousel-control-prev-icon {
    height: 30px;
    width: 30px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("img/previous.png");
    margin-left: -20%;
    margin-top: 20%;
    position: sticky;
}

.background {
    background-color: #f4f5db;
}

.Description {
    text-align: justify;
    border: solid;
    border-radius: 25px;
    background-color: #d9dab0;
}

.Ingredients {
    border: solid;
    background-color: #487e95;
}

.nextbutton {
    align-content: flex-end;
}